.post{
  background-color: lightgray;
  margin: 20px 0 20px 0;
  padding: 10px;
}

.postTitle, .commentAuthor{
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: black;
}

.postAuthorContainer, .postPosted, .postComments, .commentPosted{
  text-align: right;
}

.new_post_button, .newCommentButton{
  background: green;
  text-transform: uppercase;
  color: white;
  width: 200px;
  text-align: center;
  padding: 30px;
  line-height: 90px;
  margin-top: 30px;
  font-size: 1.3rem;
  text-decoration: none;
}

 /*.newCommentButton{
   background: green;
   text-transform: uppercase;
   color: white;
   text-align: center;
   padding: 10px;
   line-height: 90px;
   font-size: 1.3rem;
   text-decoration: none;
 }*/

 .newCommentContainer{
   margin-top: 30px;
 }

 .comment{
   background-color: lightgray;
   margin: 20px 0 20px 0;
   padding: 10px;
 }
